* {
   box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    font-size: 3rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 80vh 6vh 9vh;
}

.main {
    grid-column: 1/3;
}

.footer {
    background-color: #ffff;
    grid-column: 1/3;

}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: #fff;
}

.tab {
    text-align: center;
    cursor: pointer;
}

.tab img {
    width: 24px;
    height: 24px;
}

.btn-img {
    border: none;
    background: none;
    font-size: 1.6rem; /* Adicionado */
}

.text {
    font-size: 1.6rem;
}


.menu-link{
    text-decoration: none; /* Remove o sublinhado */
    cursor: pointer;
    color: black; /* Adiciona o cursor de clique */
}

.menu-link:hover {
    /* Adicione estilos de hover se desejado */
}
