body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0BDBC4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.conteudo {
    text-align: center;
}

.imagem-centralizada {
    max-width: 100%;
    max-height: 60vh;
    /* Ajuste a altura conforme necessário */
    position: relative;
    /* Permite posicionar o círculo em relação a esta imagem */
}

.titulo {
    font-size: 30px;
    margin-top: 50%;
    margin-bottom: 10%;
    color: #fff;
}

.texto {
    font-size: 18px;
    margin-top: 25px;
    color: #fff;
}

.botao-pular {
    margin-top: 210px;
    margin-left: 60%;
    padding: 10px 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 110%;
    text-decoration-line: none;
}

.bolinhas {
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

.bolinha {
    width: 12px;
    height: 12px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: white;
}

.circulo {
    width: 40%;
    padding-bottom: 40%;
    background-color: #007bff;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}